@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 20px/1.5 "PT Sans", sans-serif;
}

body {
    background-image: url('images/poster.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "PT Serif";
}

.site-title a {
    display: block;
    width: 130px;
    height: 110px;
    overflow: hidden;
    text-indent: -200vw;
    background-image: url('images/logo.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.site-section.banner {
    padding: 12em;
    text-align: center;
    font-size: 30px;
}

.site-section.banner p {
    text-align: center;
    font-size: 20px;
}

.site-section.banner .container {
    color: #FFF;
}

.site-section.banner h2 {
    font-size: 3.4em;
    font-weight: normal;
    line-height: 1.26;
    margin-bottom: 1rem;
}

.site-header {
    display: flex;
    justify-content: space-between;
    padding: 4em;
}

.site-header nav ul {
    display: flex;
}

.site-header nav li {
    list-style: none outside;
    padding: 0 0.5em;
}

.site-header nav a {
    text-decoration: none;
    color: #fff;
}
nav{
    justify-content: center;
    padding-top: 3em;
}